<nav class="navbar  mynav navbar-toggleable-md navbar-dark secondary-color-dark">
  Expense Manager
</nav>
<div class="container">
  <div class="dashboard-wrapper">
    <div class="row">
      <div class="col-sm-6 col-md-6">
        <div class="income-container">
          <div class="card">
            <div class="row">
              <div class="col-sm-12 col-md-12">
                <div class="card-header">Income</div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-12">
                <div class="card-block">$12000</div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-sm-6 col-md-6">
        <div class="expense-container">
          <div class="card">
            <div class="row">
              <div class="col-sm-12 col-md-12">
                <div class="card-header">Expense</div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-12">
                <div class="card-block">$12000</div>
              </div>
            </div>

          </div>
        </div>

      </div>

    </div>
  </div>


</div>